<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>双流县</key>
	<array>
		<dict>
			<key>area</key>
			<string>东升镇</string>
			<key>id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>永兴镇</string>
			<key>id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>华阳镇</string>
			<key>id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>中和镇</string>
			<key>id</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>成都</key>
	<array>
		<dict>
			<key>area</key>
			<string>成华区</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>武侯区</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>青羊区</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>金牛区</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>area</key>
			<string>高新区</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
